@page
@model MedicineApplication.Pages_Medicines.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medicine.MedicineId" />
            <div class="form-group">
                <label asp-for="Medicine.Name" class="control-label"></label>
                <input asp-for="Medicine.Name" class="form-control" />
                <span asp-validation-for="Medicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.Company" class="control-label"></label>
                <input asp-for="Medicine.Company" class="form-control" />
                <span asp-validation-for="Medicine.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.Price" class="control-label"></label>
                <input asp-for="Medicine.Price" class="form-control" />
                <span asp-validation-for="Medicine.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.ExpiryDate" class="control-label"></label>
                <input asp-for="Medicine.ExpiryDate" class="form-control" />
                <span asp-validation-for="Medicine.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.Stock" class="control-label"></label>
                <input asp-for="Medicine.Stock" class="form-control" />
                <span asp-validation-for="Medicine.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine.CreatedOn" class="control-label"></label>
                <input asp-for="Medicine.CreatedOn" class="form-control" />
                <span asp-validation-for="Medicine.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
